<script type="text/javascript" src="__JS__/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="__ADMIN__/layui/layui.js"></script>
<script type="text/javascript" src="__ADMIN__/layer/layer.js"></script>
<script type="text/javascript" src="__ADMIN__/common/common.js"></script>
<!--通用重要-->
<script>
layui.use('element', function(){
  var element = layui.element();
  
  //一些事件监听
  element.on('tab(demo)', function(data){
    console.log(data);
  });
});


</script>
<!--通用重要-->
<!--时间插件-->
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  var start = {
    min: laydate.now()
    ,max: '2099-06-16 23:59:59'
    ,istoday: false
    ,choose: function(datas){
      end.min = datas; //开始日选好后，重置结束日的最小日期
      end.start = datas //将结束日的初始值设定为开始日
    }
  };
  
  var end = {
    min: laydate.now()
    ,max: '2099-06-16 23:59:59'
    ,istoday: false
    ,choose: function(datas){
      start.max = datas; //结束日选好后，重置开始日的最大日期
    }
  };
  
  document.getElementById('LAY_demorange_s').onclick = function(){
    start.elem = this;
    laydate(start);
  }
  document.getElementById('LAY_demorange_e').onclick = function(){
    end.elem = this
    laydate(end);
  }
  
});
</script>
<!--时间插件-->


<!--分页-->
<script>
layui.use(['laypage', 'layer'], function(){
  var laypage = layui.laypage
  ,layer = layui.layer;
  
  laypage({
    cont: 'demo1'
    ,pages: 100 //总页数
    ,groups: 5 //连续显示分页数
  });

 
  
});
</script>
<!--分页-->



<!--询问框-->
<script>
$('.tc').click(function(){
	
	layui.use('layer', function(){
  var layer = layui.layer;            
layer.confirm('您确定退出吗？', {
  btn: ['确定','取消'] //按钮
}, function(){
  layer.msg('退出成功', {icon: 1});
}, function(){
  layer.msg('取消成功', {
    time: 20000, //20s后自动关闭
    
  });
});
});
	
	})

</script>
<!--询问框-->