<div class="conleft">         
 <ul class="layui-nav layui-nav-tree layui-nav-side">
 <li class="layui-nav-item"><a href="{:U('Index/index')}">MyDemo</a></li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">基础增删改查</a>
    <dl class="layui-nav-child">
      <dd><a href="{:U('Basics/index')}"><i class="layui-icon">&#xe623;</i> 基础</a></dd>
      <dd><a href="{:U('UsersInformation/index')}"><i class="layui-icon">&#xe623;</i> 进阶</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">其他插件引用</a>
    <dl class="layui-nav-child">
      <dd><a href="{:U('Upload/index')}"><i class="layui-icon">&#xe623;</i> 文件上传</a></dd>
      <dd><a href="{:U('Qrcode/index')}"><i class="layui-icon">&#xe623;</i> 二维码生成</a></dd>
      <dd><a href="{:U('Excel/index')}"><i class="layui-icon">&#xe623;</i> Excal导入导出</a></dd>
      <dd><a href="{:U('Tcpdf/index')}"><i class="layui-icon">&#xe623;</i> PDF文件</a></dd>
      <dd><a href="{:U('Database/index')}"><i class="layui-icon">&#xe623;</i> 数据库备份还原</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:;">解决方案</a>
    <dl class="layui-nav-child">
      <dd><a href="">移动模块</a></dd>
      <dd><a href="">后台模版</a></dd>
      <dd><a href="">电商平台</a></dd>
    </dl>
  </li>
  
  <li class="layui-nav-item"><a href="">大数据</a></li>
</ul>    
</div>
