<div class="layui-body">
    <fieldset class="layui-elem-field">
        <legend>数据库</legend>
        <div class="layui-field-box">
        <blockquote class="layui-elem-quote">首先我们需要建立数据表</blockquote>
        <pre class="layui-code">
##建立数据表
CREATE TABLE IF NOT EXISTS `db_demo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(32) NOT NULL,
  `password` char(32) NOT NULL,
  `create_time` int(11) NOT NULL,
  `update_time` int(11) NOT NULL,
  `status` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8 AUTO_INCREMENT=1;
        </pre>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>控制器</legend>
        <div class="layui-field-box">
        <blockquote class="layui-elem-quote">控制器需要设置新建一个主控制器，让其他控制器继承于该控制器</blockquote>
        <pre class="layui-code">
namespace Home\Controller; //注意命名空间
use Think\Controller;
use Think\Faster; //引用Faster类
class HomeCommonController extends Controller {
    /**
     * [__call 魔术方法]
     * @param    $function_name [方法名称]
     * @param    $argments      [传递参数]
     * @return   数据信息       []
     */
    public function __call($function_name,$argments)
    {
        $model = Faster::start($this->model);
        if (method_exists($model,$function_name)) {
            $data = call_user_func_array([$model,$function_name],[$this,$argments]);
            switch ($data['type']) {
                case 'return': return $data['data']; break;
                case 'display':
                    foreach ($data['assign'] as $key => $value) {
                        $this->assign($key,$value);
                    }
                    $this->display();
                    break;
                case 'error': $this->error($data['msg']); break;
                case 'success': $this->success($data['msg'],$data['url']); break;
                case 'ajax': $this->ajaxReturn($data['assign']); break;
            }
        }else{
            parent::__call($function_name,$argments);
        }
    }
}
        </pre>
        </div>
    </fieldset>

</div>
