<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>demo</title>
    <link rel="stylesheet" type="text/css" href="/Public/demo/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/Public/demo/css/css.css">
    <script type="text/javascript" src="/Public/demo/layui/layui.js"></script>
    <script type="text/javascript" src="/Public/demo/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/Public/demo/js/js.js"></script>
</head>