<!--水平导航栏目-->
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <div class="layui-demo"><img src="/Public/demo/img/logo.png" width="160" height="60"></div>
        </li>
        <li class="layui-nav-item"><a href="">开始使用</a></li>
        <li class="layui-nav-item layui-this">
            <a href="javascript:;">产品</a>
            <dl class="layui-nav-child">
                <dd><a href="">选项1</a></dd>
                <dd><a href="">选项2</a></dd>
                <dd><a href="">选项3</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child">
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd class="layui-this"><a href="">选中项</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>
</div>
<!--水平导航栏目-->
<!-- 侧边导航栏目 -->
<div class="layui-left layui-fixed">
    <ul class="layui-nav layui-nav-tree">
        <li class="layui-nav-item"><a href="{:U('Index/index')}">欢迎页面</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">开始使用</a>
            <dl class="layui-nav-child">
                <dd><a href="{:U('Ready/index')}"><i class="layui-icon">&#xe623;</i> 准备工作</a></dd>
                <dd><a href="{:U('Ready/funD')}"><i class="layui-icon">&#xe623;</i> D方法介绍</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">Faster类介绍</a>
            <dl class="layui-nav-child">
                <dd><a href="{:U('Faster/index')}"><i class="layui-icon">&#xe623;</i> 查询数据</a></dd>
                <dd><a href=""><i class="layui-icon">&#xe623;</i> 写入数据</a></dd>
                <dd><a href=""><i class="layui-icon">&#xe623;</i> 修改数据</a></dd>
                <dd><a href=""><i class="layui-icon">&#xe623;</i> 删除数据</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
    </ul>
</div>
<!-- 侧边导航栏目 -->