<!DOCTYPE html>
<html>
<head>
	<title><{$title}></title>
</head>
<body>
<div style="width: 960px;margin: auto;">
<h2>修改数据</h2>
<hr />
<form action="__URL__/update" method="post"   enctype="multipart/form-data">
<input type="hidden" name="__GO__" value="__URL__/index" />
<!--增加成功跳转指令的页面地址-->

姓名：<input type="text" name="username" value="{$db.username}" style="width: 200px;" />
<br /><br />
<input type="hidden" name="_token" value="{$token}">
<!-- 生日：<input  value="<{$db.born|date='Y-m-d',###}>" type="date" name="born" style="width: 200px;" /> -->
<br /><br />
<!-- 图片：<input type="file" name="file"/> -->
<br /><br />
<input type="hidden" name="id" value="{$db.id}" />
<input type="submit" value="修改" />
<a href="">
<input type="button" value="返回" />
</a>
</form>
</div>
</body>
</html>