<include file="Public:head" />
<body>
<include file="Public:top" />
<div class="conrer">
<include file="Public:left" />
<!-- 页面内容 -->
<div class="conright" >
        <div class="qipor">
        <blockquote class="layui-elem-quote">插件</blockquote>
                 <div class="boytern">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend>数据库备份</legend>
</fieldset>
                    <div class="bomol">
                      <!--  <div class="timb">用户列表
                       </div> -->
                   <!--     <div class="layui-inline">
                            <input class="layui-input" placeholder="自定义日期格式" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                        </div> -->
                   </div>
                   <div class="btomt">
                       <!-- <button onclick="window.location.href='__URL__/add'" class="layui-btn">
                                      <i class="layui-icon">&#xe608;</i> 添加
                       </button> -->
                       <a id="export" class="layui-btn layui-btn-small" href="javascript:;" autocomplete="off">立即备份</a>
        <a id="optimize" class="layui-btn layui-btn-small layui-btn-normal" href="{:U('Database/optimize')}">优化表</a>
        <a id="repair" class="layui-btn layui-btn-small layui-btn-normal" href="{:U('Database/repair')}">修复表</a>
        <a id="repair" class="layui-btn layui-btn-small layui-btn-danger" href="{:U('Database/reduction')}">数据还原</a>
                    </div>
                     
                   </div>
                   <form id="export-form" method="post" action="{:U('export')}">
                 <table class="layui-table">
  
                      <thead>
                    <tr>
                        <th width="48"><input class="check-all" checked="chedked" type="checkbox" value=""></th>
                        <th>表名</th>
                        <th width="120">数据量</th>
                        <th width="120">数据大小</th>
                        <th width="160">创建时间</th>
                        <th width="160">备份状态</th>
                        <th width="120">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="table">
                        <tr>
                            <td class="num">
                                <input class="ids" checked="chedked" type="checkbox" name="tables[]" value="{$table.name}">
                            </td>
                            <td>{$table.name}</td>
                            <td>{$table.rows}</td>
                            <td>{$table.data_length|format_bytes}</td>
                            <td>{$table.create_time}</td>
                            <td class="info">未备份</td>
                            <td class="action">
                                <a class="ajax-get no-refresh" href="{:U('Database/optimize?tables='.$table['name'])}">优化表</a>&nbsp;
                                <a class="ajax-get no-refresh" href="{:U('Database/repair?tables='.$table['name'])}">修复表</a>
                            </td>
                        </tr>
                    </volist>
                </tbody>
                </table>
                </form>
                
                <!-- <div id="demo1"></div> -->
 

</div>
</div>

</div>
<!-- 页面内容 -->

<include file="Public:foot" />
<script type="text/javascript">
    (function($){
        var $form = $("#export-form"), $export = $("#export"), tables
            $optimize = $("#optimize"), $repair = $("#repair");

        $optimize.add($repair).click(function(){
            $.post(this.href, $form.serialize(), function(data){
                if(data.status){
                    alert(data.info,'alert-success');
                } else {
                  alert(data.info,'alert-error');
                }
                setTimeout(function(){
                  $('#top-alert').find('button').click();
                  $(that).removeClass('disabled').prop('disabled',false);
              },1500);
            }, "json");
            return false;
        });

        $export.click(function(){
            $export.parent().children().addClass("disabled");
            $export.html("正在发送备份请求...");
            $.post(
                $form.attr("action"),
                $form.serialize(),
                function(data){
                    if(data.status){
                        tables = data.tables;
                        $export.html(data.info + "开始备份，请不要关闭本页面！");
                        backup(data.tab);
                        window.onbeforeunload = function(){ return "正在备份数据库，请不要关闭！" }
                    } else {
                      alert(data.info,'alert-error');
                        $export.parent().children().removeClass("disabled");
                        $export.html("立即备份");
                        setTimeout(function(){
                          $('#top-alert').find('button').click();
                          $(that).removeClass('disabled').prop('disabled',false);
                      },1500);
                    }
                },
                "json"
            );
            return false;
        });

        function backup(tab, status){
            status && showmsg(tab.id, "开始备份...(0%)");
            $.get($form.attr("action"), tab, function(data){
                if(data.status){
                    showmsg(tab.id, data.info);

                    if(!$.isPlainObject(data.tab)){
                        $export.parent().children().removeClass("disabled");
                        $export.html("备份完成，点击重新备份");
                        window.onbeforeunload = function(){ return null }
                        return;
                    }
                    backup(data.tab, tab.id != data.tab.id);
                } else {
                    alert(data.info,'alert-error');
                    $export.parent().children().removeClass("disabled");
                    $export.html("立即备份");
                    setTimeout(function(){
                      $('#top-alert').find('button').click();
                      $(that).removeClass('disabled').prop('disabled',false);
                  },1500);
                }
            }, "json");

        }

        function showmsg(id, msg){
            $form.find("input[value=" + tables[id] + "]").closest("tr").find(".info").html(msg);
        }
    })(jQuery);
    </script>
</body>
</html>
